/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: turn this into a tailwind way */

ul {
  padding-top: 0.75rem;
  padding-left: 2.5rem;
  list-style: revert;
}

li {
  margin-bottom: 0.35rem;
}

p {
  line-height: 1.65em;
}

.md-content a {
  @apply text-som-dark-green;
}

.md-content p {
  @apply mb-4;
}

.md-content h2 {
  @apply mt-6 mb-4 block text-lg leading-8 font-bold tracking-wide text-som-black;
}
