/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: turn this into a tailwind way */

.markdown ul {
  padding-top: 0.75rem;
  padding-left: 2.5rem;
  list-style: revert;
}

.markdown li {
  margin-bottom: 0.35rem;
}

.markdown a {
  border-radius: 4pt;
}

.markdown p {
  line-height: 1.65em;
}
