/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: turn this into a tailwind way */

ul {
  padding-top: 0.75rem;
  padding-left: 2.5rem;
  list-style: revert;
}

li {
  margin-bottom: 0.35rem;
}

p {
  line-height: 1.65em;
}
