/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: turn this into a tailwind way */

.markdown ul {
  padding-left: 22pt;
  list-style: revert;
}
.markdown a {
  padding: 4pt;
  color: white;
  background-color: #E0E722; /* var(--som-yellow); */
  border-radius: 4pt;
}
.markdown a:hover {
  color: black;
}
